# From https://github.com/github/gitignore/blob/master/Gradle.gitignore
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting
*.class

# Package Files #
*.jar
*.war
*.ear

.idea/*

# IntelliJ
/out/
